<div class="container mt-5">
    <!--first section-->
    <div class="row align-items-center how-it-works d-flex">
      <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">1</div>
      </div>
      <div class="col-6">
        <h5>UI Developer</h5>
        <p>I'm working at a company called TechStar Group, as a Front End Developer (often called as UI Developer).</p>
      </div>
    </div>
    <!--path between 1-2-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner top-right"></div>
      </div>
      <div class="col-8">
        <hr/>
      </div>
      <div class="col-2">
        <div class="corner left-bottom"></div>
      </div>
    </div>
    <!--second section-->
    <div class="row align-items-center justify-content-end how-it-works d-flex">
      <div class="col-6 text-right">
        <h5>Video Editor</h5>
        <p>I worked in an organization called Anjaneya Digitals which has some news channels (SYC News, Bhavitha TV)as Video Editor for a year.</p>
      </div>
      <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">2</div>
      </div>
    </div>
    <!--path between 2-3-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner right-bottom"></div>
      </div>
      <div class="col-8">
        <hr/>
      </div>
      <div class="col-2">
        <div class="corner top-left"></div>
      </div>
    </div>
    <!--third section-->
    <div class="row align-items-center how-it-works d-flex">
      <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center ">
        <div class="circle font-weight-bold">3</div>
      </div>
      <div class="col-6">
        <h5>Customer Relationship Officer</h5>
        <p>I worked in Hinduja Global Solutions (HGS) as customer relationship officer for 11 months.</p>
      </div>
    </div>

  </div>