  <div class="container mt-5">
      <div class="row">
          <!-- Section Titile -->
          <div class="col-md-12 wow animated fadeInLeft" >
              <h1 class="section-title">Love to Hear From You</h1>
          </div>
      </div>
      <div class="row">
          <!-- Section Titile -->
          <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" >
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The Chance of response is low. so <b class="font-italic">I appreciate for visiting my site.</b></p>

            <div class="find-widget">
              Address: <a >Ramanamakshetram 3rd line, Guntur</a>
            </div>
            <div class="find-widget">
              Facebook:  <a target="_blank" href="https://www.facebook.com/deepak.lakshmi.39"> Lakshmi Deepak </a>
            </div>
            <!-- <div class="find-widget">
              Phone:  <a href="tel:+919290770980">+91 9290770980</a>
            </div> -->
            <div class="find-widget">
              Email:  <a href="mailto:luckkey005@gmail.com">luckkey005@gmail.com</a>
            </div>
            
            <div class="find-widget">
              Website:  <a target="_blank" href="https://luckkey005.github.io/first-ang/">GitHub Pages</a>
            </div>
            <div class="find-widget">
               Contact Timings: <a href="#">Mon to Sat: 09:30 AM - 09.30 PM</a>
            </div>
          </div>
          <!-- contact form -->
          <div class="col-md-6">
              <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                  <!-- Name -->
                  <div class="form-group label-floating">
                    <label class="control-label" for="name">Name</label>
                    <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                    <div class="help-block with-errors"></div>
                  </div>
                  <!-- email -->
                  <div class="form-group label-floating">
                    <label class="control-label" for="email">Email</label>
                    <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                    <div class="help-block with-errors"></div>
                  </div>
                  <!-- Subject -->
                  <div class="form-group label-floating">
                    <label class="control-label">Subject</label>
                    <input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject">
                    <div class="help-block with-errors"></div>
                  </div>
                  <!-- Message -->
                  <div class="form-group label-floating">
                      <label for="message" class="control-label">Message</label>
                      <textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
                      <div class="help-block with-errors"></div>
                  </div>
                  <!-- Form Submit -->
                  <div class="form-submit mt-5">
                      <button class="btn btn-info" type="submit" id="form-submit"><i class="material-icons mdi mdi-message-outline"></i> Send Message</button>
                      <div id="msgSubmit" class="h3 text-center hidden"></div>
                      <div class="clearfix"></div>
                  </div>
              </form>
          </div>
      </div>
  </div>