  <div class="container mt-5">
      
      <div class="row">
          <!-- Section Titile -->
          <div class="col-md-6 contact-widget-section2" >
              <h1 class="section-title">Love to Hear From You</h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The Chance of response is low. so <b class="font-italic">I appreciate for visiting my site.</b></p>

            <div class="find-widget">
              Address: <a >{{a.contact.address}}</a>
            </div>
            <div class="find-widget">
              Facebook:  <a target="_blank" href="{{a.contact.social1}}"> {{a.name}} </a>
            </div>
            <div class="find-widget">
              Email:  <a href="mailto:{{a.contact.mail}}">{{a.contact.mail}}</a>
            </div>
            
            <div class="find-widget">
              Website:  <a target="_blank" href="{{a.contact.website}}">GitHub Pages</a>
            </div>
            <div class="find-widget">
               Contact Timings: <a >{{a.contact.timing}}</a>
            </div>
          </div>
          <!-- contact form -->
          <div class="col-md-6">
            <form #f="ngForm" (submit)="submiting(f)" novalidate>
              <div class="card rounded-0">
                  <div class="card-header p-0">
                      <div class="bg-light text-center py-2">
                          <h3><i class="fa fa-envelope"></i> Contact</h3>
                      </div>
                  </div>
                  <div class="card-body p-3">

                      <!--Body-->
                      <div class="form-group">
                          <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                              </div>
                              <input type="text" class="form-control" 
                              #name="ngModel" name="name" ngModel 
                              placeholder="Enter Your Name" required 
                              minlength="3" maxlength="10" pattern="[a-zA-Z]+">
                          </div>
                          <div class="alert alert-danger" *ngIf="!name.valid && name.touched">
                            <div *ngIf="name.errors.required">
                                Name is required.
                              </div>
                              <div *ngIf="name.errors.minlength">
                                Name must be at least 3 characters long.
                              </div>                              
                              <div *ngIf="name.errors.pattern">
                                Name must be characters.
                              </div>                              
                          </div>
                      </div>
                      <div class="form-group">  
                          <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                              </div>
                              <input type="email" class="form-control"
                              #email="ngModel" ngModel name="email" 
                              placeholder="Enter Mail Id" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                          </div>
                          <div class="alert alert-danger" *ngIf="!email.valid && email.touched">
                            <div *ngIf="email.errors.required">
                                Mail is required.
                              </div>
                            <div *ngIf="email.errors.pattern">
                                Enter Valid Mail id.
                              </div>
                                                           
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="fa fa-comment text-info"></i></div>
                              </div>
                              <textarea class="form-control" placeholder="Enter Your Comments" required 
                              #comments="ngModel" ngModel name="comments"></textarea>
                          </div>
                          <div class="alert alert-danger" *ngIf="!comments.valid && comments.touched">
                            <div *ngIf="comments.errors.required">
                                Enter for Which purpose you want to contact.
                            </div>
                        </div>
                      </div>

                      <div class="text-center">
                          <input type="submit" value="Send" class="btn btn-info btn-block rounded-0 py-2" [disabled]="!f.valid">
                      </div>
                  </div>

              </div>
          </form>
          <div class="alert alert-success alert-dismissible" [style.visibility]="sub">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong> I got your details, I'll contact you as soon as possible.
          </div>
          </div>
      </div>
  </div>

  <!-- <div class="container mt-5">
      <div class="row">
          <div class="col-md-6 col-sm-6 p-5 pull-right" style="border-right:1px solid gray;">
              some text goes here
          </div>
          <div class="col-md-6 col-sm-6 p-5" style="border-left: 1px solid gray;">
              some text goes here
          </div>
      </div>
  </div> -->