<div class="container">
  <h3>Contact form Provided below</h3> <br>
  <form #f='ngForm' (ngSubmit)='submit(f)'>
    <div class="form-group">
      <label for="firstName">FirstName</label>
      <input 
      ngModel 
      (change)='log(firstName)' 
      #firstName='ngModel' 
      type="text" 
      name="firstName" 
      id="firstName" 
      class="form-control" 
      required 
      minlength="3" 
      maxlength="10" 
      pattern="super">

    <div 
      class="alert alert-danger" 
      *ngIf="firstName.touched && !firstName.valid">
        <div *ngIf='firstName.errors.required'>First Name required</div>
        <div *ngIf='firstName.errors.minlength'>Minumum 3 chars required</div>
        <div *ngIf='firstName.errors.pattern'>Pattern should match</div>
      </div>
    </div>
  
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
      
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
