
.aboutus-title {
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 10%;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}

.aboutus-text {
    color: #303030;
    font-size: 0.95rem;
    line-height: 22px;
    text-align: justify;
}

.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}
.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: #303030;
    font-size: .95rem;
    line-height: 22px;
    text-align: justify;
}

span.fa.fa-gear {
    margin-left: 15%;
    color: #008080;
    border: 1px solid #008080;
    padding: 13%;
    border-radius: 50%;
    font-size: 1.5rem;
}

.photo {
    padding-bottom: 8%;
    text-align: center;
}
.photo img{ max-width: 100%;}
.feature-content {text-align: left;}