
  <div class="container mt-5">
      <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="aboutus">
                  <!-- <h2 class="aboutus-title mb-2 text-center">K. LAKSHMI DEEPAK</h2> -->
                  <h2 class="aboutus-title mb-2 text-center">{{a.name}}</h2>
                  <!-- <h3 class="aboutus-title display-1 text-center">UI Developer </h3> -->
                  <h3 class="aboutus-title display-1 text-center">{{a.position}} </h3>
                  <p class="aboutus-text">{{a.about}}</p>
                                  
              </div>
          </div>
          <div class="col-md-3 col-sm-6 photo">
              <img src="../../assets/kld.jpg" alt="Profile" title="deepak">
          </div>
          <div class="col-md-5 col-sm-6 col-xs-12">
              <div class="feature">                 
                  <div class="feature-box">
                    <div class="clearfix" *ngFor="let n of a.quality">
                        <div class="iconset">
                            <span class="fa fa-gear"></span>
                        </div>
                        <div class="feature-content">
                            <h4>{{n.title}}</h4>
                            <p>{{n.desc}}</p>
                        </div>
                    </div>
                </div>

              </div>
          </div>
      </div>
  </div>