
  <div class="container mt-5">
      <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="aboutus">
                  <h2 class="aboutus-title mb-2 text-center">K. LAKSHMI DEEPAK</h2>
                  <h3 class="aboutus-title display-1 text-center">UI Developer </h3>
                  <p class="aboutus-text">My name is Lakshmi Deepak. I'm a Front End Developer in Hyderabad. I describe myself as a developer who loves coding, open source, and the web platform. Currently I'm working at a company called TechStar Group, as a Front End Developer (often called as UI Developer).</p>
                
                  
              </div>
          </div>
          <div class="col-md-3 col-sm-6 photo">
              <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEZ-Y1RonGWjpoWn0i049NZWG42hoMxCywvuFlTIT6gqaOSujtGA" alt="profile" title="Deepak"> -->
              <img src="../../assets/kld.jpg" alt="Profile" title="deepak">
          </div>
          <div class="col-md-5 col-sm-6 col-xs-12">
              <div class="feature">
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="fa fa-gear"></span>
                          </div>
                          <div class="feature-content">
                              <h4>Hard Work</h4>
                              <p>I want to make my life life better along with and other's life, with my nature of hardworking brain.</p>
                          </div>
                      </div>
                  </div>
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="fa fa-gear"></span>
                          </div>
                          <div class="feature-content">
                              <h4>Time Punctual</h4>
                              <p>Instead of Being Late I Choose to Plan the things and do accordingly , so that I can Manage the time in peaceful environment.</p>
                          </div>
                      </div>
                  </div>
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="fa fa-gear"></span>
                          </div>
                          <div class="feature-content">
                              <h4>Tech Enthusiast</h4>
                              <p>Technology can change lot of things like shopping , health care etc. reading different blogs , magazines boosted my love towards it.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>