<!--The content below is only a placeholder and can be replaced.-->

<ul class="nav nav-pills justify-content-center nav-justified bg-light" >
    <!-- <li class="nav-link"><a routerLink="third" routerLinkActive="active">Third</a></li> -->
    <li class="nav-link" routerLink="fourth" routerLinkActive="active">About Me</li>
    <li class="nav-link" routerLink="second" routerLinkActive="active">Skills</li>
    <li class="nav-link" routerLink="super" routerLinkActive="active">Experience</li>
    <li class="nav-link" routerLink="posts" routerLinkActive="active">Education</li>
    <li class="nav-link" routerLink="contact" routerLinkActive="active">Contact</li>
    <li class="nav-link" routerLink="first" routerLinkActive="active">Users</li>
</ul>
<router-outlet></router-outlet>


