<!--The content below is only a placeholder and can be replaced.-->

<ul class="nav nav-pills" style="background-color:#f8f8f8;">
    <!-- <li class="nav-link"><a routerLink="third" routerLinkActive="active">Third</a></li> -->
    <li class="nav-link"><a routerLink="fourth" routerLinkActive="active">About Me</a></li>
    <li class="nav-link"><a routerLink="second" routerLinkActive="active">Skills</a></li>
    <li class="nav-link"><a routerLink="super" routerLinkActive="active">Experience</a></li>
    <li class="nav-link"><a routerLink="posts" routerLinkActive="active">Education</a></li>
    <li class="nav-link"><a routerLink="contact" routerLinkActive="active">Contact</a></li>
    <li class="nav-link"><a routerLink="first" routerLinkActive="active">Users</a></li>
</ul>
<router-outlet></router-outlet>
