<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>


<ul class="nav nav-pills" style="background-color:#f8f8f8;">
  <li class="nav-link"><a routerLink="first" routerLinkActive="active">First</a></li>
  <li class="nav-link"><a routerLink="second" routerLinkActive="active">Second</a></li>
  <li class="nav-link"><a routerLink="third" routerLinkActive="active">Third</a></li>
  <li class="nav-link"><a routerLink="fourth" routerLinkActive="active">Fourth</a></li>
  <li class="nav-link"><a routerLink="super" routerLinkActive="active">Super</a></li>
  <li class="nav-link"><a routerLink="contact" routerLinkActive="active">Contact</a></li>
  <li class="nav-link"><a routerLink="posts" routerLinkActive="active">Posts</a></li>
</ul>
<router-outlet></router-outlet>
