<div class="container">
  <div class="row d-block">
    <h3 class="display-4 text-center"> About Me </h3>
  </div>
</div>

<div class="skill-block">
  <app-fourth></app-fourth>
</div>

<div class="container">
  <div class="row d-block">
    <h3 class="display-4 text-center"> My Skills </h3>
  </div>
</div>

<div class="skill-block">
  <app-second></app-second>
</div>

<div class="container">
  <div class="row d-block">
    <h3 class="display-4 text-center"> My Experience </h3>
  </div>
</div>

<div class="skill-block">
  <app-super></app-super>
</div>

<div class="container">
  <div class="row d-block">
    <h3 class="display-4 text-center"> My Education </h3>
  </div>
</div>

<div class="skill-block">
  <app-posts></app-posts>
</div>

<div class="container">
  <div class="row d-block">
    <h3 class="display-4 text-center"> Contact Me </h3>
  </div>
</div>

<div class="skill-block">
  <app-contact></app-contact>
</div>